.box {
  width: 100%;
}

.box > * + * {
  margin-top: 1rem;
}

.buttonArea {
  display: flex;
  justify-content: center;
}

.button {
  border: 3px solid black;
  background-color: #fff;
  color: black;
  padding: 0.5rem;
  width: 10rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #efefef;
  cursor: pointer;
  /*色がゆっくりつくトランジション*/
  transition: background-color 0.5s;
  /*押したら少し下がる*/
  transform: translateY(1px);
}

.button:active {
  transform: translateY(3px);
}

/*
 * gridで3列にする
 * 300px以下では1列にする
 * 600px以下では2列にする
 */
@media (max-width: 300px) {
  .sliderArea {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .sliderArea {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 600px) {
  .sliderArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
.sliderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  background-color: #fff;
  color: black;
  padding: 0.5rem;
  width: 10rem;
  font-size: 1.2rem;
}
