.box {
  width: 100%;
}

.box > * + * {
  margin-top: 1rem;
}

.buttonArea {
  display: flex;
  justify-content: center;
}

.button {
  border: 3px solid black;
  background-color: #fff;
  color: black;
  padding: 0.5rem;
  width: 10rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #efefef;
  cursor: pointer;
  /*色がゆっくりつくトランジション*/
  transition: background-color 0.5s;
  /*押したら少し下がる*/
  transform: translateY(1px);
}

.button:active {
  transform: translateY(3px);
}
